<a href="https://colab.research.google.com/github/Nahaeran/ai-for-ml-exercise/blob/main/week3/220915.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import datetime as dt
import numpy as np
import pandas as pd

In [21]:
df=pd.DataFrame(
    np.array([
        ["김현권", "playing guitar", "Korean"],
        ["안성현", "watching netflix", "Korean"],
        ["나해란", "watching animation", "Korean"],
        ["예라이", "play videogame", "Spanish"]
    ]), columns=['name', 'hobby', 'nationality']
)

In [23]:
df = df.set_index("name")

In [24]:
cd /content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_02

/content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_02

In [25]:
df.to_csv('220915_aiforml_teaminfo.csv', index=True)

In [32]:
df2 = pd.read_csv('220915_aiforml_teaminfo.csv', index_col=0)
df2

                   hobby nationality
name
김현권       playing guitar      Korean
안성현     watching netflix      Korean
나해란   watching animation      Korean
예라이       play videogame     Spanish

In [35]:
df2 = pd.DataFrame(
    np.array([
        ["김현권", "playing guitar", "Korean", 23, 19, 17],
        ["안성현", "watching netflix", "Korean", 22, 19, 12],
        ["나해란", "watching animation", "Korean", 21, 19, 17],
        ["예라이", "play videogame", "Spanish", 20, 19, 17]
    ]), columns=['name', 'hobby', 'nationality', "Age", "ID", "credit"]
)
df2

  name               hobby nationality Age  ID credit
0  김현권      playing guitar      Korean  23  19     17
1  안성현    watching netflix      Korean  22  19     12
2  나해란  watching animation      Korean  21  19     17
3  예라이      play videogame     Spanish  20  19     17

In [54]:
df2["credit"]=pd.to_numeric(df2["credit"])
df2["Age"]=pd.to_numeric(df2["Age"])
df2["ID"]=pd.to_numeric(df2["ID"])

In [56]:
df2["credit"].sum()

63

In [57]:
df2["credit"].var()

6.25

In [58]:
df2["credit"].median()

17.0

In [59]:
df2["Age"].mean()

21.5

In [60]:
df2["Age"].var()

1.6666666666666667

In [61]:
df2["ID"].mean()

19.0

In [62]:
df2["ID"].var()

0.0

In [64]:
df.to_csv('220915_aiforml_teaminfo2.csv', index=True)